.home-banner {
  height: 80vh;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.home-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.home-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.container h1 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}
.container p {
  font-weight: lighter;
  font-size: 15px;
}

.middle-navbar {
  justify-content: space-between;
  padding-left: 30px;
  background: white;
  display: flex;
  height: 18vh;
  align-items: center;
}

.middle-navbar-link {
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  width: 100%;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middlenav-icons {
  font-size: 2.5rem;
}
.middle-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// id in middle-navbar
#nav-hotel {
  color: #ee7777;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
#nav-ship {
  color: #0d0cb5;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
#nav-utensils {
  color: #f69314;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
#nav-subway {
  color: #103c42;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
#nav-mountain {
  color: #0b8457;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
#nav-bag {
  color: #fdd043;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
