<div class="header">
    <h1>7 SEAS</h1>
    <h2 class="alpha"><%= link_to root %><img src="images/logo.jpg" class="2x" alt="MALDIVES SEA"></a></h2>
    <ul class="gnavi clearfix">

    <!-- トップ用META -->
    <li class="nav_top"><%= link_to "#" %><span class="wrap"><span class="ja">トップ</span><span class="en">TOP</span></span></a></li>
    <li class="nav_con"><%= link_to "#" %><span class="wrap"><span class="ja">リーフ</span><span class="en">CONCEPT/DESIGN</span></span></a></li>
    <li class="nav_pla"><%= link_to "#" %><span class="wrap"><span class="ja">オールインクルーシブ</span><span class="en">All INCLUSIVE</span></span></a></li>
    <li class="nav_mod">%= link_to "#" %><span class="wrap"><span class="ja">水上コテージ</span><span class="en">WATER VILLA</span></span></a></li>
    <li class="nav_acc">%= link_to "#" %><span class="wrap"><span class="ja">空港からのアクセス</span><span class="en">ACCESS</span></span></a></li>
    <li class="nav_loc">%= link_to "#" %><span class="wrap"><span class="ja">ロケーション</span><span class="en">LOCATION</span></span></a></li>
    <li class="nav_equ">%= link_to "#" %><span class="wrap"><span class="ja">設備仕様</span><span class="en">EQUIPMENT</span></span></a></li>

  </ul>


  <ul class="headnavi clearfix">
    <li class="nav_out"><a href="http://www.leben-establish.jp/search/lp-tsuruse4/outline.html" target="_blank"><span class="wrap"><span class="ja">物件概要</span><span class="en">OUTLINE</span></span></a></li>
    <li class="nav_map"><a href="map/index.html" target="_blank" class="popup_map"><span class="wrap"><span class="ja">現地案内図</span><span class="en">MAP</span></span></a></li>
    <li class="nav_req shiny"><a href="http://www.leben-establish.jp/search/lp-tsuruse4/request.html" target="_blank"><span class="wrap"><span class="ja">資料請求</span><span class="en">REQUEST</span></span></a></li>
    <li class="nav_res shiny"><a href="http://www.leben-establish.jp/search/lp-tsuruse4/reservation.html" target="_blank"><span class="wrap"><span class="ja">来場予約</span><span class="en">RESERVATION</span></span></a></li>
  </ul>
</div>
